<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="网络传销会员层级分析系统-管理端"
		Language="2052"
		Version="5.15.0.0"
	    Codepage="936"
		UpgradeCode="7561FEF5-1A85-414F-82B7-81ACAEFA9FA4"
		Manufacturer="湖南警察学院">
		<Package Description="#Description"
			Comments="Comments"
			InstallerVersion="200"
			Compressed="yes"/>
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--开始菜单-->
            <Directory Id="ProgramMenuFolder">   
                <Directory Id="ShortcutMenuFolder" Name="网络传销会员层级分析系统" />   
            </Directory> 
            <!--开始菜单结束 -->
            <!--桌面快捷方式 -->
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="DesktopSpider" Guid="aede1637-df5a-4c41-94b6-f077d03e5372">
                <RegistryKey Root="HKCU"  Key="Software\网络传销会员层级分析系统\desktop">
                <RegistryValue Value="SPIDERClient" Type="string" KeyPath="yes" />
                </RegistryKey>
                <Shortcut Id="shortcut.desk" Directory="DesktopFolder" Name="数据计算管理工具" Target="[INSTALLDIR]MemberTreeAdmin.exe" WorkingDirectory="INSTALLDIR"  IconIndex="0"/>
            	<Shortcut Id="shortcut2.desk" Directory="DesktopFolder" Name="数据分析查看工具" Target="[INSTALLDIR]MemberTreeView.exe" WorkingDirectory="INSTALLDIR"  IconIndex="0"/>
                </Component>
            </Directory>
            <!--桌面快捷方式结束 -->
		</Directory>
		
		<!--开始菜单设置 -->
        <DirectoryRef Id="ShortcutMenuFolder">   
              <Component Id="ApplicationShortcut" Guid="C919F5ED-D2B3-42E8-9F7C-63269274FE79">   
                <Shortcut Id="ApplicationStartMenuShortcut" Name="数据计算管理工具" Target="[INSTALLDIR]MemberTreeAdmin.exe" WorkingDirectory="INSTALLDIR" />   
              	<Shortcut Id="ApplicationStartMenuShortcut2" Name="数据分析查看工具" Target="[INSTALLDIR]MemberTreeView.exe" WorkingDirectory="INSTALLDIR" /> 
              	<Shortcut Id="ApplicationStartMenuShortcut3" Name="注册信息清除工具" Target="[INSTALLDIR]SoftUnRegister.exe" WorkingDirectory="INSTALLDIR" /> 
                <Shortcut Id="UninstallProduct" Name="卸载（网络传销会员层级分析系统）" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />   
                   
                <RemoveFolder Id="ShortcutMenuFolder" On="uninstall" />  
          
                <RegistryValue Root="HKCU" Key="Software\网络传销会员层级分析系统" Name="installed" Type="integer" KeyPath="yes" Value="1"  />   
              </Component>   
        </DirectoryRef> 
       <!--开始菜单 -->
		
		<Feature Id="AdminTool"
		         Title="数据计算管理工具"
                 Description="导入、计算、管理数据集，管理各个客户端用户账户和用户权限。"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">
                 <ComponentRef Id="MyComponentAdmin"/>
                 <ComponentRef Id="ApplicationShortcut"/>
                 <ComponentRef Id="DesktopSpider"/>
		</Feature>
				<Feature Id="ViewTool"
		         Title="数据分析查看工具"
                 Description="查看已计算完成的数据集，分析会员关系树结构，导出数据表格，打印图片，或者生成PDF文件。"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">
                 <ComponentRef Id="MyComponentView"/>
                 <ComponentRef Id="ApplicationShortcut"/>
                 <ComponentRef Id="DesktopSpider"/>
		</Feature>
		<Feature Id="UnRegTool"
		         Title="注册信息清除工具"
                 Description="清除当前机器上的注册信息。"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">
                 <ComponentRef Id="MyComponentUnReg"/>
                 <ComponentRef Id="ApplicationShortcut"/>
                 <ComponentRef Id="DesktopSpider"/>
		</Feature>
		<Feature Id="UpdateTool"
		         Title="自动升级工具"
                 Description="自动联网检测新版本并进行升级。"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">
                 <ComponentRef Id="MyComponentUpdate"/>
                 <ComponentRef Id="ApplicationShortcut"/>
                 <ComponentRef Id="DesktopSpider"/>
		</Feature>
		<!-- 
			Using the Wix UI library
 
			With the the WixUI_FeatureTree dialog set the user goes 
			directly from the license agreement dialog to the feature 
			customization dialog. This dialog set is useful
			when your product installs all features by default. 
		-->
		<UIRef Id="WixUI_FeatureTree"/>
	</Product>
</Wix>
