<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="MemberTree">
					<Component Id="MyComponent" Guid="C440C40E-5220-435B-A343-56B2931FF7FF" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf"/>
						<File Id='MemberTreeView' Name='MemberTreeView.exe' Source="../../bin/MemberTreeView.exe"/>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
