<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*"
		Name="网络传销会员层级分析系统-软件注册授权工具"
		Language="2052"
		Version="5.15.0.0"
	    Codepage="936"
		UpgradeCode="7DA69E57-FBC2-4E9F-81C7-243823AF8113"
		Manufacturer="湖南警察学院">
		<Package Description="#Description"
			Comments="Comments"
			InstallerVersion="200"
			Compressed="yes"/>
		<!--
			Source media for the installation. 
 			Specifies a single cab file to be embedded in the installer's .msi. 
		-->
		<Media Id="1" Cabinet="contents.cab" EmbedCab="yes" CompressionLevel="high"/>
		
		<!-- Installation directory and files are defined in Files.wxs -->
		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--开始菜单-->
            <Directory Id="ProgramMenuFolder">   
                <Directory Id="ShortcutMenuFolder" Name="网络传销会员层级分析系统" />   
            </Directory> 
            <!--开始菜单结束 -->
            <!--桌面快捷方式 -->
            <Directory Id="DesktopFolder" Name="Desktop">
                <Component Id="DesktopSpider" Guid="aede1637-df5a-4c41-94b6-f077d03e5372">
                <RegistryKey Root="HKCU"  Key="Software\网络传销会员层级分析系统\desktop">
                <RegistryValue Value="SPIDERClient" Type="string" KeyPath="yes" />
                </RegistryKey>
                <Shortcut Id="shortcut.desk" Directory="DesktopFolder" Name="软件注册授权工具" Target="[INSTALLDIR]SoftRegister.exe" WorkingDirectory="INSTALLDIR"  IconIndex="0"/>
                </Component>
            </Directory>
            <!--桌面快捷方式结束 -->
		</Directory>
		
		<!--开始菜单设置 -->
        <DirectoryRef Id="ShortcutMenuFolder">   
              <Component Id="ApplicationShortcut" Guid="C919F5ED-D2B3-42E8-9F7C-63269274FE79">   
                <Shortcut Id="ApplicationStartMenuShortcut" Name="软件注册授权工具" Target="[INSTALLDIR]SoftRegister.exe" WorkingDirectory="INSTALLDIR" />   
                <Shortcut Id="UninstallProduct" Name="卸载（软件注册授权工具）" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />   
                   
                <RemoveFolder Id="ShortcutMenuFolder" On="uninstall" />  
          
                <RegistryValue Root="HKCU" Key="Software\网络传销会员层级分析系统" Name="installed" Type="integer" KeyPath="yes" Value="1"  />   
              </Component>   
        </DirectoryRef> 
       <!--开始菜单 -->
		
		<Feature Id="RegTool"
		         Title="软件注册授权工具"
                 Description="对未注册的机器进行注册授权认证，注意，该软件一定要保存好，不可泄漏！！！"
                 Level="1"
                 ConfigurableDirectory="INSTALLDIR">
<!--                 <ComponentRef Id="ExecutableFile"/>-->
                 <ComponentRef Id="MyComponent"/>
                 <ComponentRef Id="ApplicationShortcut"/>
                 <ComponentRef Id="DesktopSpider"/>
		</Feature>
		
		<!-- 
			Using the Wix UI library
 
			With the the WixUI_FeatureTree dialog set the user goes 
			directly from the license agreement dialog to the feature 
			customization dialog. This dialog set is useful
			when your product installs all features by default. 
		-->
		<UIRef Id="WixUI_FeatureTree"/>
	</Product>
</Wix>
